.vr {
	border-right: 1px solid #333;
}

.gesture {
	width: 2em;
}

.scrollable {
	height:340px;
	overflow: auto;
}

video {
	width:50%;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	/*width: 100%;*/
	/*height: 100%;*/
	/*background-color: #888888;*/
}

.modal-dialog {
	width:80%;
}

#howto-screen {
	width:50%;
	margin:0 25%;
	padding:auto;
}

#howto-cursor {
	position:relative;
	width:10px;
	left:50%;

	-webkit-animation: up 3s ease infinite;
	-webkit-animation: down 3s ease infinite;
	-webkit-animation: up 3s ease infinite;
}

@-webkit-keyframes up {
	50% { -webkit-transform: translate(50px, -100px); }
}

@-webkit-keyframes down {
	50% { -webkit-transform: translate(0px, 50px); }
}











