

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.vr {
	border-right: 1px solid #333;
}

.gesture {
	width: 2em;
}

.scrollable {
	height:340px;
	overflow: auto;
}





